<!-- This is directive.. please be noticed model starts with lowercase... Influencing the code generation in this view.. Like using directive  -->
@model OdeToFood.ViewModels.HomeIndexViewModel

<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
</head>

<body>
    <h1>@Model.CurrentMessage</h1>
    <table>
        @foreach(var restaurant in Model.Restaurants) {
        <tr>
            <td>@restaurant.Id</td>
            <td>@restaurant.Name</td>
            <td>
                <!-- Simple way -->
                <a href="/home/details/@restaurant.Id">Details</a>

                <!-- This is considered more robust.. Html helper is very old method  -->
                @Html.ActionLink("Go","details", new { id = restaurant.Id})

                <!-- Helper Tag : more common way nowadays -->
                <a asp-action="details" asp-route-id="@restaurant.Id">More</a>

            </td>
        </tr>
        }
    </table>
    <a asp-action="Create">Add Restaurant</a>
</body>

</html>